.scroll-wrapper {
  display: flex;
  margin-top: 5px;
  border-radius: 15px;
  overflow: hidden;
  background: #1E2472;
}

.select-asset-container {
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  padding-top: 16px;
}

.image-assets-style {
  width: 101px;
  height: 101px;
  padding: 0 8px;
  border-radius: 10%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-top: auto;
}

.select-all-check-box-none {
  position: absolute;
  width: 24px;
  height: 24px;
  
  background: #ffffff;
  border-radius: 2px;
  top: 10px;
  left: 20px;
}

.image-assets-text {
  font-family: Inter;
  width: 98px;
  height: 26px;
  font-size: 12px;
  letter-spacing: 0.03em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: lightgray;
  opacity: 0.7;
  padding: 0 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.select-all-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-all-button {
  font-family: Inter;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: #2d74ff;
  opacity: 0.9;
}

.select-all-title-text {
  font-family: Inter;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0.9;
}


#select-asset-container-scroll::-webkit-scrollbar {
  height: 84px;
  border: 6px solid #1d2797;
  border-radius: 30px;
}

/* Track */
#select-asset-container-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#select-asset-container-scroll::-webkit-scrollbar-thumb {
  background: #4260ff;
  border-radius: 30px;
  border: 6px solid #1d2797;

}

/* Handle on hover */
#select-asset-container-scroll::-webkit-scrollbar-thumb:hover {
  background: #4260ff;
  border-radius: 30px;
  border: 6px solid #1d2797;

}
